/* h6 {
  font-size: 1em;
  font-weight: bold;
}
.header-cesta {
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 5em;
}

.item-text {
  font-size: 1em;
  color: lightgray;
  margin-top: 0.5em;
}
.item-text2 {
  font-size: 1em;
  color: lightgray;
  margin-top: 0.54em;
}

.item-number {
  font-size: 1em;
  font-weight: bold;
  color: lightgray;
  margin-top: 0.5em;
}
.decorative-line {
  border-bottom: 1px solid lightgray;
}

.item-seleccionado {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.item-precio {
  font-size: 0.9em;
}
.artista {
  margin-left: 10px;
}
.titulo-obra {
  font-size: 0.8em;
}

.eliminar-compra {
  font-size: 0.75em;
  color: black;
  opacity: 50%;
  text-decoration-line: underline;
  margin-top: 3.25em;
}
.card-title {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.card-item {
  font-size: 0.65em;
  margin-bottom: 0.5em;
}
.card-item2 {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.card-item3 {
  font-size: 0.65em;
  text-decoration-line: underline;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.total-pedido {
  font-size: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.total-pedido2 {
  margin-bottom: 1em;
}
.total-pedido-iva {
  font-size: 0.75em;
  margin-bottom: 0.5em;
  opacity: 0.5;
}
.total-pedido-precio {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.btn-finalizar-pedido {
  background-color: black;
  border-radius: 2px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
  margin-bottom: 10px;
  opacity: 0.85;
  width: 85%;
  height: 24px;
  margin-bottom: 2em;
  margin-top: 2em;
}
/* .text-btn-finalizar-pedido {
  margin: auto;
} */
.btn-continuar-comprando {
  background-color: #f2cb05;
  border-radius: 4px;
  font-size: 12px;
  color: black;
  text-decoration-line: none;
  font-weight: bolder;
  opacity: 0.85;
  width: 85%;
  height: 3rem;
  margin: 2rem;
  padding: 1.2rem;
}
.column-1 {
  padding-left: 5em;
} */
.column-2 {
  padding-right: 0.75em;
  padding-left: 1em;
  padding-top: 4em;
}
.paypal-button-container {
  width: 85%;
  margin: auto;
  margin-top: 2em;
}
