/*NO*/
.row-container-cesta {
    justify-content: space-around;
}

/*NO*/
.row-container-lista-compra {
    min-height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

/* cesta*/
.col-lista-productos {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

/* RESUMEN PEDIDO */
/* RESUMEN PEDIDO-card2*/
.container-resumenes {
    position: sticky;
    top: 80px;
    width: 100%;
}

.col-resumen-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cesta-header {
    margin-top: 1em;
    margin-bottom: 2em;
}

.item-counter {
    width: 100%;
    padding-left: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.card-resumen-pedido,
.card-paypal {
    min-width: 60%;
    margin: 0rem;
}

.card-title {
    font-weight: bolder;
    font-size: 1rem;
}

.card-item {
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.card-item2 {
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.25rem;
}

.card-item3 {
    font-size: 0.65rem;
    font-weight: bold;
    margin-top: 1.5rem;
    text-decoration-line: underline;
}

.total-pedido {
    font-size: 0.9rem;
    font-weight: bold;
}

.total-pedido-precio {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.25rem;
}

.total-pedido-iva {
    font-size: 0.65rem;
}

/* Botones PayPal */
.paypal-button-container {
    margin: 1rem;
}

.btn-continuar-comprando {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* margin-left: 1rem; */
    border: none;
    background: #f2cb05;
    border-radius: 3px;
    padding: 0.8rem;
    width: 94%;
    font-size: 0.75rem;
    font-weight: bold;
}

.btn-continuar-comprando:hover {
    opacity: 85%;
}

.nav-margin-bottom {
    margin-bottom: 2rem;
}

.link-seguir-comprando {
    display: flex;
    justify-content: center;
    text-decoration: none;
}