.container-pedido {
    width: 100%;
    min-height: 15vh;

    margin: 20px 0;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 2%;
}

.container-foto-info-producto-pedido {
    margin-right: 10px;
    overflow: hidden;
    height: 100%;
}

.container-foto-info-producto-pedido>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-pedido a {
    color: black;
    text-decoration: none;
}

.col-info-producto-pedido .titular {
    font-weight: 500;
}

.eliminar-compra {
    cursor: pointer;
}