.container-inicio {
    padding: 0;
}

.container-portada {
    /* width: 100%;
    background-color: rgb(104, 104, 104); */
}

.container-titulos {
    width: 100%;
    padding-left: 5%;
}

h5[class*="titulo"] {
    font-size: 2.5rem;
}

.titulo-1 {
    padding-right: 5%;
}

.container-foto-portada {
    background-color: aqua;
    min-height: 80vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/360/207/non_2x/colorful-abstract-painting-texture-background-template-free-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-seccion-producto {
    padding: 1rem 0;
    font-size: 2.5rem;
}

.container-lista-productos {
    min-height: 200vh;
}

.row-productos>.col-productos:nth-child(1),
.col-productos:nth-child(2) {
    padding-right: 1vw;
}

.col-productos {
    padding: 0;
}

.container-producto {
    width: 100%;
    padding-bottom: 1vh;
}

.img-producto {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 1vw;
}