.container-inicio {
    padding: 0;
}

.container-portada {
    /* width: 100%;
    background-color: rgb(104, 104, 104); */
}

.container-titulos {
    width: 100%;
    padding-left: 5%;
}

h5[class*="titulo"] {
    font-size: 2.5rem;
}

.titulo-1 {
    padding-right: 5%;
}

.container-foto-portada {
    min-height: 80vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/360/207/non_2x/colorful-abstract-painting-texture-background-template-free-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-seccion-producto {
    padding: 1rem 0;
    font-size: 2.5rem;
}

.container-lista-productos {
    min-height: 200vh;
}

.row-productos .col-productos {
    padding-right: 1vw;
    height: auto;
}

.col-productos {
    padding: 0;
}

.container-producto {
    width: 100%;
    height: 70vh;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.img-producto {
    min-height: 10vh;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    /* margin-bottom: 1vw; */
}

/* .img-producto:hover {
    filter: contrast(70%);
    cursor: pointer;
} */

.nombre-artista {
    /* position: absolute;
    width: 200px;
    z-index: 9999999999999999999999;
    margin-left: 10px;
    color: rgb(255, 255, 255); */
}

.info-artista {
    height: 70vh;
    width: 100%;
    position: relative;
    background-color: rgba(255, 0, 0, 0.096);
}

/* .nombre:hover {
    background-color: rgba(255, 255, 255, 0.171);
} */