.col-productos {
    height: auto;
    padding: 0;
    /* padding-right: 1vw; */
}

.container-producto {
    width: 100%;
    /* height: 70vh; */
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.img-producto {
    min-height: 10vh;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.info-artista {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    margin: 0;
}

.info-artista:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(242, 242, 242, 0.630987429151348) 100%);
    visibility: visible;
    opacity: 1;
    padding: 1%;
    cursor: pointer;
}

.nombre-artista {
    /* color: black; */
    padding-left: 5%;
}