.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics {
  -webkit-transitionns: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 25px;
}

.gallery .pics:hover {
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.expand-icon {
  margin: 3% 3% 0 93%;
  color: rgb(75, 75, 69);
}

#product-card-body {
  height: 75px;
}
